@using HumbleMaths.Converters
@using HumbleMaths.Parsers
@model MatrixModel

@{
    ViewBag.Title = "Лабораторная работа 1";
    Layout = "_Layout";
}

<script type="text/javascript">
    function submit() {
        window.location.replace("/Maths/Gauss/" + $('#matrix')[0].value);
    }
</script>

<div class="row justify-content-between">
    <div class="col-5">
        <h4>Лабораторная работа 1</h4>
    </div>
    <div class="col-1">
        <a asp-area="" asp-controller="Maths" asp-action="Index"
           class="btn btn-dark">
            Назад
        </a>
    </div>
</div>
<div class="container-fluid">
    <form asp-route="gauss" method="post" id="form">
        <div class="form-group">
            <label for="matrix">Матрица, для которой должна быть решена СЛАУ</label>
            <input type="text" class="form-control" name="matrix" id="matrix" aria-describedby="matrixHelp" placeholder="((a, b, c), (d, e, f), ...)">
            <small id="matrixHelp" class="form-text text-muted">Матрица должна иметь размерность N x (N + 1)</small>
        </div>
        <button type="submit" class="btn btn-primary">Решить</button>
    </form>
</div>
<div class="container-fluid">
    @if (Model == null) {
        <p>Ожидание ввода...</p>
    } else if (Model.Matrix == "") {
        <p>Введена неверная матрица</p>
    } else if (Model.Solution == null) {
        <p>Данная система не имеет решений</p>
    } else {
        var converter = new MatrixLatexConverter();

        <p>Input</p>
        <p>@converter.ConvertToLatex(Model.System)</p>

        foreach (var step in Model.Solution.TransformationSteps) {
            <p>@step.Type</p>
            <p>@converter.ConvertToLatex(step.Matrix)</p>
        }

        <p>Solving</p>
        foreach (var step in Model.Solution.SolvingSteps) {
            <p>@converter.ConvertToLatex(step)</p>
        }


        <p>Result</p>
        for (var i = 0; i < Model.Solution.Result.Count; i++) {
            var sol = Model.Solution.Result[i];
            <p>$x_@(i + 1) = @sol$</p>
        }
    }
</div>