@model object

@{
    ViewBag.Title = "Вычислительная математика";
    Layout = "_Layout";
}

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Лабораторная работа 1</h6>
            <p class="card-text">Решение СЛАУ с помощью метода Гаусса</p>
        </div>
        <div class="card-footer">
            <a asp-area="" asp-controller="Maths" asp-action="Gauss" class="btn btn-primary align-bottom">Открыть</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Лабораторная работа 2</h6>
            <p class="card-text">Интегрирование функций методом прямоугольников</p>
        </div>
        <div class="card-footer">
            <a asp-area="" asp-controller="Maths" asp-action="Integral" class="btn btn-primary align-bottom">Открыть</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Лабораторная работа 3</h6>
            <p class="card-text">Интерполирование функции методом Лагранжа</p>
        </div>
        <div class="card-footer">
            <a asp-area="" asp-controller="Maths" asp-action="Lagrange" class="btn btn-primary align-bottom">Открыть</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Лабораторная работа 4</h6>
            <p class="card-text">Решение дифференциальных уравнений</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary align-bottom disabled" aria-disabled="True">Открыть</a>
        </div>
    </div>
</div>