@model object

@{
    ViewBag.Title = "Вычислительная математика";
    Layout = "_Layout";
}

<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/100px180.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Лабораторная работа 1</h5>
            <p class="card-text">Решение СЛАУ с помощью метода Гаусса</p>
            <a asp-area="" asp-controller="Maths" asp-action="Gauss" class="btn btn-primary align-bottom">Открыть</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/100px180.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Лабораторная работа 2</h5>
            <p class="card-text">Интегрирование функций методом прямоугольников</p>
            <a href="#" class="btn btn-primary disabled" aria-disabled="True">Открыть</a>
        </div>
    </div>
</div>