@{
    ViewBag.Title = "Лабораторная работа 3";
    Layout = "_Layout";
}

<div class="row justify-content-between">
    <div class="col-7">
        <h4>Интерполирование функции методом Лагранжа</h4>
    </div>
    <div class="col-1">
        <a asp-area="" asp-controller="Maths" asp-action="Index"
           class="btn btn-dark">
            Назад
        </a>
    </div>
</div>
<hr />